$colors: (
  "text-primary": #000046,
  "text-secondary": #ffffff,
  "text-accent": #2a172d,
  "text-accent-secondary": #eaeaea,
  "text-btn": #202020,
  "text-paragraph": #5b5b5b,
  "text-filter": #555556,
  "hover-color": #851fff,
  "bg-primary": #fff,
  "bg-accent": #faf5ff,
  "bg-secondary": #251427,
  "bg-third": #000046,
  "bg-ads": #f7f7ff,
  "bg-btn": #fff9e4,
);

$font-primary: "Monserat";

$mobile: 335px;
$desktop: 1240px;
