@import "../../shared/styles/common.scss";
.filters {
  width: 363px;
  &Heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: getColor("text-primary");
  }
  &HeadingDiv {
    margin-bottom: 15px;
  }
  &MainDiv {
    width: 363px;
    display: flex;
    flex-direction: column;
  }
  &PhotoDiv {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &Svg {
    width: 24px;
    height: 24px;
    fill: getColor("text-filter");
    margin-right: 8px;
    // &Span {
    //   display: inline-block;
    //   content: "";
    //   width: 24px;
    //   height: 24px;
    // }
  }
  &CheckboxSvg {
    width: 24px;
    height: 24px;
    fill: getColor("text-filter");
    margin-left: 8px;
  }

  &Img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  &Paragraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: getColor("text-filter");
    &Second {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: getColor("text-filter");
      margin-right: 8px;
      text-align: end;
    }
  }
  &WithPhotoSelector {
    display: inline-block;
  }
  &AgeDiv {
    padding: 20px;
    margin-bottom: 15px;
  }
  &AgeHeading {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: getColor("text-primary");
    margin-bottom: 24px;
    &::after {
      position: relative;
      content: " ";
      display: inline-block;
      width: 323px;
      height: 0.5px;
      background-color: getColor("text-accent-secondary");
      margin-top: 12px;
    }
  }
  &SexDiv {
    padding: 20px;
    margin-bottom: 15px;
  }
  &SexHeading {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: getColor("text-primary");
    margin-bottom: 24px;
    &::after {
      position: relative;
      content: " ";
      display: inline-block;
      width: 323px;
      height: 0.5px;
      background-color: getColor("text-accent-secondary");
      margin-top: 12px;
    }
  }
  &SexList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &SexBtn {
    margin: 0px;
    padding: 0px;
    width: 107px;
    height: 44px;
    border: 1px solid getColor("text-primary");
    background-color: transparent;
    color: getColor("text-primary");
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover,
    :focus {
      background-color: getColor("text-primary");
      color: getColor("text-secondary");
    }
  }
  &SalaryDiv {
    padding: 20px;
    margin-bottom: 15px;
  }
  &SalaryHeading {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: getColor("text-primary");
    margin-bottom: 24px;
    &::after {
      position: relative;
      content: " ";
      display: inline-block;
      width: 323px;
      height: 0.5px;
      background-color: getColor("text-accent-secondary");
      margin-top: 12px;
    }
  }
  &SwitchWrap {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &JobExperienceDiv {
    padding: 20px;
    margin-bottom: 15px;
  }
  &JobExperienceHeading {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: getColor("text-primary");
    margin-bottom: 24px;
    &::after {
      position: relative;
      content: " ";
      display: inline-block;
      width: 323px;
      height: 0.5px;
      background-color: getColor("text-accent-secondary");
      margin-top: 12px;
    }
  }
  &JobExperienceCheckbox {
    display: flex;
    flex-direction: row;
  }
  &Checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &JobExperienceLabel {
    display: flex;
    align-items: center;
  }
  &Checkbox + &JobExperienceLabel::before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ffe177;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 8px;
  }
  &Checkbox:checked + &JobExperienceLabel::before {
    background-color: #ffe177;
    background-image: url(../../shared/images/checkbox.svg);
  }
  &CheckboxYellow {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &JobExperienceLabel {
    display: flex;
    align-items: center;
  }
  &CheckboxYellow + &JobExperienceLabel::before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ffe177;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 8px;
  }
  &CheckboxYellow:checked + &JobExperienceLabel::before {
    border-color: getColor("text-primary");
    background-color: getColor("text-primary");
    background-image: url(../../shared/images/checkbox.svg);
  }

  &JobExperienceInputItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  &StringWrap {
    width: 304px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
