@import "../../shared/styles/common.scss";
.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 47px;
}

.svgSize {
  width: 24px;
  height: 24px;
}